<link rel="stylesheet" href="/donate/css/selector.css">
<div class="select_don">
    <a id="roles" style="cursor: pointer;">Готовые роли</a>
    <a id="ra" style="cursor: pointer; display: none;">Сборка админки</a>
    <a id="customize" style="cursor: pointer;">Кастомизация</a>
    <a id="visual" style="cursor: pointer;">Визуал</a>
</div>
<script src="/donate/js/selector.js"></script>